In [ ]:
pip install d6tstack

# This is Jeopardy!
We're going to load up some jeopardy clues into a postgres database:

In [8]:
# First we will import the things we need to make a connection to server
import psycopg2
import psycopg2.extras
import sqlalchemy
import postgres_config as pcfg
from sqlalchemy import create_engine
import d6tstack
import d6tstack.combine_csv as d6tc
import pandas as pd
import glob

fec_uri_psql = f'postgresql+psycopg2://{pcfg.postgres_username}:{pcfg.postgres_password}@localhost/{pcfg.postgres_dbname}'
cnx = create_engine(pcfg.pg_engine_params)
conn = psycopg2.connect(pcfg.pg_engine_params)

In [12]:
# Header add on for this dataset:

header_info = '../fec_project/data/current_house_senate_headers.csv'
raw_data = '../fec_project/data/current_house_senate.csv'
header_df = pd.read_csv(header_info, sep=',')
raw_data_df = pd.read_csv(raw_data, sep='|', delimiter='|')
header_df.head()
header_list = header_df['Column name'].to_list()
print(header_list)
raw_data_df.columns = header_list
raw_data_df.head()

['CAND_ID', 'CAND_NAME', 'CAND_ICI', 'PTY_CD', 'CAND_PTY_AFFILIATION', 'TTL_RECEIPTS', 'TRANS_FROM_AUTH', 'TTL_DISB', 'TRANS_TO_AUTH', 'COH_BOP', 'COH_COP', 'CAND_CONTRIB', 'CAND_LOANS', 'OTHER_LOANS', 'CAND_LOAN_REPAY', 'OTHER_LOAN_REPAY', 'DEBTS_OWED_BY', 'TTL_INDIV_CONTRIB', 'CAND_OFFICE_ST', 'CAND_OFFICE_DISTRICT', 'SPEC_ELECTION', 'PRIM_ELECTION', 'RUN_ELECTION', 'GEN_ELECTION', 'GEN_ELECTION_PRECENT', 'OTHER_POL_CMTE_CONTRIB', 'POL_PTY_CONTRIB', 'CVG_END_DT', 'INDIV_REFUNDS', 'CMTE_REFUNDS']

     CAND_ID                     CAND_NAME CAND_ICI  PTY_CD CAND_PTY_AFFILIATION  TTL_RECEIPTS  TRANS_FROM_AUTH   TTL_DISB  TRANS_TO_AUTH  COH_BOP  ...  SPEC_ELECTION  PRIM_ELECTION  RUN_ELECTION  GEN_ELECTION  GEN_ELECTION_PRECENT  OTHER_POL_CMTE_CONTRIB  POL_PTY_CONTRIB  CVG_END_DT INDIV_REFUNDS  CMTE_REFUNDS
0  H0AL01097               AVERHART, JAMES        O       1                  DEM      22725.13              0.0   12326.37            0.0      0.0  ...            NaN            NaN           NaN           NaN                   NaN                     0.0              0.0  09/30/2019           0.0           0.0
1  H0AL01105              GARDNER, KIANI A        O       1                  DEM      17589.00              0.0   10865.88            0.0      0.0  ...            NaN            NaN           NaN           NaN                   NaN                     0.0              0.0  09/30/2019           0.0           0.0
2  H0AL01055           CARL, JERRY LEE, JR        O       2                  REP     856484.10              0.0  115176.19            0.0      0.0  ...            NaN            NaN           NaN           NaN                   NaN                  6200.0              0.0  09/30/2019           0.0           0.0
3  H0AL01063  LAMBERT, DOUGLAS WESTLEY III        O       2                  REP     173064.96              0.0   63485.75            0.0      0.0  ...            NaN            NaN           NaN           NaN                   NaN                     0.0              0.0  09/30/2019           0.0           0.0
4  H0AL01071     PRINGLE, CHRISTOPHER PAUL        O       2                  REP     308291.70              0.0   92854.21            0.0      0.0  ...            NaN            NaN           NaN           NaN                   NaN                 16350.0              0.0  09/30/2019           0.0           0.0

[5 rows x 30 columns]

In [13]:
#Dataframe to sql:
d6tstack.utils.pd_to_psql(raw_data_df, fec_uri_psql, 'current_house_senate', if_exists='replace')

BadCopyFileFormat: extra data after last expected column
CONTEXT:  COPY current_house_senate, line 1: "H0AL01097,"AVERHART, JAMES",O,1,DEM,22725.13,0.0,12326.37,0.0,0.0,10398.76,0.0,18500.0,0.0,0.0,0.0,1..."

## Database design:
Before we go further we need to answer some questions about the data.
1. How is it coming in to us?
   - We have an option of a series of CSV's 
   - OR we have a single large json with maybe less header info
2. What will constitute a unique primary key?
    - In light of possible near collisions it might be best to consider the next option
3. Will we have to create a unique hash_id
    - luckily postgres has a way of doing this
4. What kind of relationships are there between tables?
    -
5. Is there any advantage of having the data in separate tables or would having a giant table with all the files appended on to it be the way to go?
6. What other data can we querry against this data base?
7. What hints and fields can we find correlations with outside of the scope of our dataset?
8. What are the columns and data types? do they vary from file to file? what about the json?

In [4]:
# Well let's get into it. We'll make a table using sqlaclhemy and try to import one file into it
# Going to try and use a new tool to avoid using the sloppy mess of code i wrote to
# ingest csv files: d6tstacks promises to solve data ingestion issues we'll see.
# I'll be leaning on their example notbook

fec_fnames = [f for f in glob.glob("../fec_project/**/*.csv", recursive=True)]
for name in fec_fnames:
    print(name)

../fec_project\data\current_house_senate.csv
../fec_project\data\current_house_senate_headers.csv
../fec_project\data\fec_stuff.csv

In [6]:
c = d6tc.CombinerCSV(../fec_project\data\current_house_senate.csv, sep='\t') # all_strings=True makes reading faster

SyntaxError: invalid syntax (<ipython-input-6-d83534733968>, line 1)

In [5]:
c.combine_preview()

NameError: name 'c' is not defined

In [12]:
jeopardy_all_df = c.to_pandas()

In [17]:
jeopardy_all_df.describe()

               round          value
count  368555.000000  368555.000000
mean        1.524771     760.483472
std         0.533708     670.937610
min         1.000000       0.000000
25%         1.000000     400.000000
50%         2.000000     600.000000
75%         2.000000    1000.000000
max         3.000000   25000.000000

In [24]:
d6tstack.utils.pd_to_psql(jeopardy_all_df, jpd_uri_psql, 'every_jeopardy_question', if_exists='replace', sep='\t')

True